* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .signup-container {
    display: flex;
    min-height: 100vh;
  }
  
  .form-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    max-width: 45%;
    margin-right: auto;
    overflow-y: auto;  
    height: 100vh;    
  }
  
  .image-section {
    position: fixed;
    top: 0;
    right: 0;        
    width: 55%;       
    height: 100vh;     
    overflow: hidden;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .logo img {
    display: block;
    max-width: 150px;
    margin: 10px auto;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    text-align: center;
    margin: 30px;
    font-size: 14px;
    color: #666;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 10px;
  }
  
 
.input-group input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
   
}
.input-group-text {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    color: #000000;
}
  
  .signup-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ff4b7e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #e64570;
  }
  
  .inline-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  h5{
    margin-bottom: 10px;
    font-size: 12px;
    padding-left: 10px;
    color: #948f8f;
  }
  
  .inline-group .form-group {
    flex: 1;
  }
  .inline-group .form-group select {
    color:#9e9999;
    font-size: 14px;
  }
  footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
  }
  
  footer p {
    color: #999;
  }
  
  a {
    color: #ff4b7e;
    text-decoration: none;
  }
  input::placeholder {
    color: #666666dd;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    .signup-container {
      flex-direction: row;
    }
  
    .form-section {
      max-width: 45%;
    }
  
    .image-section {
      width: 55%;
      height: 100vh;
    }
  }
  
  @media (max-width: 768px) {
    .image-section {
      height: 200px;
    }
  
    .logo img {
      max-width: 100px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .signup-btn {
      font-size: 14px;
    }
  
    .inline-group {
      flex-direction: column;
    }
  }